@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');


*{
  box-sizing: border-box;
}
body{
  box-sizing: border-box;
  color: #4a4a4a;
  margin: 0;
  padding: 0;
}




.top-heading{
   font-family: "Bigelow Rules";
}
.App {
  text-align: center;
  position: relative;
  padding-bottom: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cards{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 30px;
    z-index: 1;
    margin: 50px 30px 0 100px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.5px);
  transition: all 0.8s ease-in-out;
}

@media only screen and (max-width:600px) {
  .cards{
    margin: 50px 50px 0 50px;
  }
}